<section class="vh-100" style="margin: 40px;">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form>
                    <div class="divider d-flex align-items-center my-4">
                        <p style="font-size: 30px;" class="text-center fw-bold mx-3 mb-0">Inicia Sesion con Github!</p>
                    </div>
                    <a style="margin-left: 80px; background-color: darkred;" href="/api/jwt/github" class="btn btn-primary btn-lg btn-block">
                        <i class="fa-brands fa-github"></i> Entrar con Github
                    </a>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">No quieres usar Github? <br>Puedes usa nuestros enlaces:</p>
                    </div>
                    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
                    <p>¿Ya tienes cuenta con nosotros? <a href="/login">Haz Login aquí</a></p>
                </form>
            </div>
        </div>
    </div>

</section>