

.logoHeader{
    height: 70px;
    width: max-content;
}

h3{
    margin-left: 5px;
}

header{
    background-image: url(../images/Captura\ de\ pantalla\ 2023-10-31\ 090121.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
    margin: 15px;
    border-radius: 10px;
}

header h1{
    color: black;
}

header p{
    color: rgba(8, 7, 7, 0.836) !important;
}

.logoPrincipal{
    border-radius: 30px;
}

.w-100{
    height: 350px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border-radius: 10px !important;
}

.h-100{
    border-radius: 20px !important;
}

.card-img-top{
    padding: 5px !important;
    border-radius: 20px !important;
}

h3{
    padding-left: 5px;
}

.precios{
    margin: 7px;
    font-weight: 500;
}

.card-body{
    display: grid;
    text-align: center;
    padding: 5px;
}

#cards{
    padding: 10px;
}
#cards a{
    margin-inline: auto;
}

img, svg {
    padding: 0px;
    margin-bottom: 10px;
    width: 295px;
    height: 180px;
    border-radius: 4px;
}

* {
    padding: 0px;
    margin: 0px;
}

nav img {
    background-size: 20px !important;
    margin-right: 5px;
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.carrito {
    margin-right: 20px;
    height: 30px;
    width: 30px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px !important;
    text-align: center;
}

.logoPrincipal{
    width: 60px;
    height: 60px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px !important;
    font-style: italic;
    text-align: center;
}

body {
    font-family: "Figtree", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    background-image: linear-gradient(45deg, #7c9885, #b5b682);
    min-height: 100vh;
}


.btn-primary{
    margin-block-start: auto;
    padding: 7px;
    margin-inline: auto;
}

.col:hover{
    scale: 1.1;
}

footer {
    margin-top: 20px;
}


.product-popup {
    display: none;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
